.animated-heading {
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-size: 2.5em; 
    font-weight: 700;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 2rem; 


    text-shadow: 
        1px 1px 0px #a3c4f3, 
        2px 2px 0px #7baaf7, 
        3px 3px 0px #4f90fa,
        4px 4px 0px #266bdf,
        5px 5px 0px #1e4f8c, 
        6px 6px 0px rgba(0, 0, 139, 0.7); 
}
